<?xml version="1.0" encoding="utf-8"?>
<!--NephroThai or Center-->
<!--database config-->
<configs>
  <location>2</location>
  <path>D:\40859-01\TRTSystem3.3.0.0\Database</path>
  <filename>0825TRTDatabase.mdb</filename>
  <centerid>0825</centerid>
  <centername>เจริญกรุงคลินิกเวชกรรมเฉพาะทางไตเทียม</centername>
</configs>